@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}




html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  transition: background .6s ease;
}

.contaniner {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: color .6s ease-in linear;
  transition: background .6s ease;
}

.nav-items .active-nav {
  color: #FAFF00;
  background: #f72585;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.mobile-menu span {
  width: 30px;
  height: 4px;
  background: #e1e5f2;
}

/* hero section */
.banner-section {

  width: 100%;
  height: 100vh;

  background-image:
    linear-gradient(to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2)),
    url("../Image/gym-banner.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

.hero-about .title {
  color: #fff;
  font-size: 3.3rem;
  margin-bottom: 20px;
  max-width: 650px;

}

.hero-about .hero-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  background: linear-gradient(10deg, #f72585, #FAFF00, #a91e51);
  cursor: pointer;
  box-shadow: 2px 2px 10px #e1e5f2;
  transition: transform 0.6s ease-in;
}

.hero-about .hero-btn:hover {
  transform: scale(1.1) translate(5px);
}

/* Reasons to join section */
.advantages-banner {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
}

#advantages_section {
  padding-top: 100px;
  padding-bottom: 80px;
  color: #fff;
}


.advantages .advantages_titel {
  font-size: 2.3rem;
  margin: 5px 0 50px 0;
  text-align: center;
}

.advantages-grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.advantages-card {
  display: flex;
  align-items: center;
  gap: 20px;


  padding: 40px;

}

.advantages-card img {
  width: 60px;
  height: 60px;
}

.text-contant>strong {
  font-size: 2rem;
  font-weight: bold;

}

.text-contant p {
  font-size: .9rem;
  line-height: 25px;
  margin: 20px 0;
}

/* membership section */
#membership {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.membership-content {
  padding: 100px 0 60px 0;

}

.membership-content h4 {
  text-align: center;
  margin: 10px 0 50px 0;
  font-size: 2.5rem;
  color: #e1e5f2;
}

.membership-grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.membership-card {
  width: 350px;
  min-height: 390px;
  box-shadow: 0 0 10px #444;
  border-radius: 10px;
  background: #222222;
  color: #e1e5f2;
  padding: 10px;
  cursor: pointer;

  position: relative;
  transition: transform .6s ease;
}



.membership-card>h4 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.membership-card .price {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.membership-card ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.membership-card ul li img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.membership-card ul li span {
  margin-top: 10px;
  font-size: .8rem;
}

.membership-card .buy-btn {
  margin: 10px;
  width: 90%;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  background: #FAFF00;
  position: absolute;
  left: 0;
  bottom: 25px;
  transition: all .6s ease;
}

.membership-card .buy-btn:hover {
  box-shadow: 0 0 10px cadetblue, 0 0 15px cadetblue;
}

/* pyment mothed */

/* MODAL */
.by-contant {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s ease;
}

.by-contant.active {
  opacity: 1;
  pointer-events: all;
}

.by-text {
  background: #333;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  position: relative;
  transform: scale(0.7);
  transition: transform .4s ease;
}

.by-contant.active .by-text {
  transform: scale(1);
}

.by-text h2 {
  text-align: center;
  color: #ff6b6b;
}

.by-text form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.by-text input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.pay-btn {
  background: #2196f3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}


/* About */

#about {
  background: #222222;
  padding: 100px 0;
  color: #fff;
  height: 100vh;
  width: 100%;
  overflow: hidden;

}

.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 40px;
  margin-top: 80px;
}

.about-info {
  max-width: 550px;
  width: 100%;
}

.about-info>h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-info>p {
  font-size: .8rem;
  line-height: 20px;
}

.slider-img {
  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  flex-shrink: 0;
}

.btn {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.btn>button {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(#FAFF00, #a91e51);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: .6s ease-in-out;
}

.btn>button:hover {
  box-shadow: 0 0 15px cornflowerblue, 0 0 15px cornflowerblue;
}

/* trainers section */

#trainers {
  padding-top: 100px;
  padding-bottom: 80px;
  background: #222222;
}

.trainer-contant {
  width: 100%;
  height: 100%;
}

.trainer-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
  color: #FFF;
}

.trainer-grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}

.trainer-grids .trainer-card {
  max-width: 300px;
  min-height: 400px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background: #444;
  margin-top: 50px;
}

.trainer-card>img {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.trainer-card>h4 {
  text-align: center;
  font-size: 1.2rem;
}

.sosal-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 15px;
}

.sosal-icon>.icon {
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sosal-icon>.icon>i {
  color: rgb(34, 188, 173);
  font-size: 1.2rem;
  transition: all .6s ease;
}

.sosal-icon>.icon>i:hover {
  color: #f87;
}

/* footer section */

#footer {
  width: 100%;
  padding: 60px 0;
  background: #222222;
}

.footer-contant {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  align-items: center;
}

.footer-logo>img {
  margin-bottom: 20px;
}

.footer-logo>p {
  color: #FFF;
  line-height: 25px;
  width: 300px;
  font-size: .8rem;
}

.footer-text>h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #FFF;
}

.footer-text>p {
  color: #FFF;
  line-height: 30px;
  width: 300px;
  font-size: .8rem;
}

.footer-contact>h3 {
  color: #FFF;
  font-size: 2rem;
  margin-bottom: 20px;
}

.cont-icon {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  color: #FFF;
}

.footer-flex {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.footer-sosail {
  width: 30px;
  height: 30px;
  padding: 20px;
  border: 1px solid #f87;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow .6s ease-in;
}

.footer-sosail i {
  font-size: 1.2rem;
  color: #f87;
}

.footer-sosail:hover {
  box-shadow: 0 0 15px crimson, 0 0 15px chartreuse, 0 0 10px cyan;
}